/*navitaion bar: top menu*/
.nav_div{
    background-color:rgb(51, 204, 51);
    width: 100%;
    height: 60px;
    padding-right:20px;
    font-size: 1.2em;
    position: sticky;
    position: fixed;
    top:0;
}
.nav_div a {
  float: left;
  border-right: ridge 2px white;
  width: 25%;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
.nav_div a:hover{
  background-color: purple;
  font-size: 1.22em;
  height: 20px;
}

h1 {
  color:green;
  background-color: lightyellow;
  font-family: "monotype corsiva";

  text-align: center;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 28px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro {
  color: gray;
  font-family: geogria;
  text-align: justify;
}
.author {
  font-family: "monotype corsiva";
  color: rgb(51, 204, 51);
  text-align: right;
}
.caption {
  color: purple;
}

.title5{
  text-shadow: 2px 3px 5px gray;
}

.title6{
  text-shadow: 2px 3px 5px gray;
  border-style: dotted;
  padding: 10px;
}
h3 {
  color:green;
  font-family: "monotype corsiva";

}
